<div class="container">
  <app-category-filter [bookCategories]="bookCategories$ | async"
                       (categorySelected)="selectCategory($event)"></app-category-filter>
  <app-books-table [bookList]="bookList$ | async" [selectedCategory]="selectedCategory$ | async"
                   (bookSelected)="selectBook($event)" (bookToRemove)="removeBook($event)"></app-books-table>
  <app-book-form [selectedBook]="selectedBook$ | async" [bookCategories]="bookCategories$ | async"
                 (resetSelectedBook)="resetSelectBook()" (bookToAdd)="addBook($event)"
                 (bookToUpdate)="editBook($event)"></app-book-form>
</div>

