<div class="table-wrapper">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>TITLE</th>
      <td mat-cell *matCellDef="let book"> {{book.title}} </td>
    </ng-container>

    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>AUTHOR</th>
      <td mat-cell *matCellDef="let book"> {{book.author}} </td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>YEAR</th>
      <td mat-cell *matCellDef="let book"> {{book.year}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>CATEGORY</th>
      <td mat-cell *matCellDef="let book"> {{book.category}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let book">
        <div class="action-buttons">
          <button mat-button color="primary" (click)="selectBook(book.id)" [ngStyle]="{'font-size':'18px'}">&#9998;
          </button>
          <button mat-button color="warn" (click)="removeBook(book.id)" [ngStyle]="{'font-size':'20px'}">&#215;</button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let book; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
