.book-form {
  max-width: 280px;
  margin: auto;

  mat-form-field {
    width: 100%;
  }

  .buttons-container {
    text-align: center;

    button:first-of-type {
      margin-right: 15px;
    }
  }
}
