<div class="book-form">
  <form class="signup" [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field appearance="legacy">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Title" formControlName="title" required>
      <mat-error *ngIf="form.get('title').invalid">
        <div *ngIf="form.get('title').errors.required">Title is <strong>required</strong></div>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Author</mat-label>
      <input matInput placeholder="Author" formControlName="author" required>
      <mat-error *ngIf="form.get('author').invalid">
        <div *ngIf="form.get('author').errors.required">Author is <strong>required</strong></div>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Year</mat-label>
      <input matInput placeholder="Year" formControlName="year" required>
      <mat-error *ngIf="form.get('year').invalid">
        <div *ngIf="form.get('year').errors.required">Year is <strong>required</strong></div>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="legacy">
      <mat-label>Category</mat-label>
      <mat-select required placeholder="Choose book category" formControlName="category">
        <mat-option *ngFor="let category of bookCategories" [value]="category">{{category}}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('category').invalid">
        <div *ngIf="form.get('category').errors.required">Category is <strong>required</strong></div>
      </mat-error>
    </mat-form-field>
    <div class="buttons-container">
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || form.pending">Submit Book
      </button>
      <button mat-raised-button type="button" (click)="clearForm()">Clear</button>
    </div>
  </form>
</div>
