<mat-form-field class="category-select">
  <mat-label>Choose book category</mat-label>
  <mat-select (selectionChange)="selectCategory($event.value)">
    <mat-option>Show all books</mat-option>
    <mat-option *ngFor="let category of bookCategories" [value]="category">
      {{category}}
    </mat-option>
  </mat-select>
</mat-form-field>
